@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p3zcav');
  src:  url('fonts/icomoon.eot?p3zcav#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p3zcav') format('truetype'),
    url('fonts/icomoon.woff?p3zcav') format('woff'),
    url('fonts/icomoon.svg?p3zcav#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wt-icon-"], [class*=" wt-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wt-icon-01d:before {
  content: "\e900";
}
.wt-icon-01n:before {
  content: "\e901";
}
.wt-icon-02d:before {
  content: "\e902";
}
.wt-icon-02n:before {
  content: "\e903";
}
.wt-icon-03d:before {
  content: "\e904";
}
.wt-icon-03n:before {
  content: "\e905";
}
.wt-icon-04d:before {
  content: "\e906";
}
.wt-icon-04n:before {
  content: "\e907";
}
.wt-icon-09d:before {
  content: "\e908";
}
.wt-icon-09n:before {
  content: "\e909";
}
.wt-icon-10d:before {
  content: "\e90a";
}
.wt-icon-10n:before {
  content: "\e90b";
}
.wt-icon-11d:before {
  content: "\e90c";
}
.wt-icon-11n:before {
  content: "\e90d";
}
.wt-icon-13d:before {
  content: "\e90e";
}
.wt-icon-13n:before {
  content: "\e90f";
}
.wt-icon-50d:before {
  content: "\e910";
}
.wt-icon-50n:before {
  content: "\e911";
}
